.item{
    /* border: 3px solid black; */
    overflow: hidden;
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    padding: 50px;
    font-weight: bold;
    background-color: rgb(243, 171, 171);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: 3px 2px 4px 4px;
}
.item img{
    height: 250px;
    width: 250px;
    border-radius: 8px;
}
.item button{
    height: 50px;
    width: 300px;
    padding: 15px;
    text-align: center;
    background-color: orangered;
    font-weight: bolder;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;

}